body,p,ul,li{margin:0px; padding:0px; border:1px solid #ccc;}
.myclass{float:left;}
.added{float:right; margin-bottom:5px; margin-top:10px;}
.removed{margin-top:15px;}
.from-local{float: none;}
.its-der{clear:both;}
